@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Teste para a vaga de Desenvolvedor .NET <p>Citel Software</p>Bruno Guerra Vieira</p>
</div>
